body {
    margin: 0;
    font-family: Arial;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

h1 {
    text-align: center;
}

.controls {
    padding: 20px;
}

#message {
    text-align: center;
    font-size: 22px;
    margin: 10px;
    font-weight: bold;
}

#gameArea {
    position: relative;
    height: 70vh;
}

#pixel {
    position: absolute;
    display: none;
    cursor: pointer;
}
